extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Robert Muraru

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am a FullStack JavaScript developer with a passion for games and statistics.
            br  
            | Discovered my interest in programming after completing the "Introduction to Computer Science and Programming Using Python" course, which was offered  by MIT via the 
            a(href="https://www.edx.org/course/introduction-to-computer-science-and-programming-7" target="_blank") edX 
            | platform.
            br
            | I have completed the "Fullstack Javascript Techdegree" at 
            a(href="https://teamtreehouse.com/about" target="_blank") Treehouse.
            | 
            br
            | Currently I am working on finishing the course: "NodeJS - The Complete Guide (MVC, REST APIs, GraphQL, Deno)" on 
            a(href="https://www.udemy.com/course/nodejs-the-complete-guide" target="_blank") Udemy.
            |
            br
            | For the future I plan on studying more on the front-end technologies such as: CSS, Bootstrap & React.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li APIs
          li Node.js
          li HTML
          li JavaScript
          li CSS
          li Pug Templates
          li GIT
        h6 Contact Info

        ul
          li +40 752 XXX XXX
          li murarurobertionut@yahoo.ro

        a.button.expanded(href='https://www.linkedin.com/in/robert-muraru/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/RobertMJr' target="_blank") GitHub
        a.button.expanded(href='https://www.instagram.com/robert_muraru/' target="_blank") Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  