extends layout.pug

block content
    article.grid-container.portfolio-intro
        div

        h1 Error: #{err.status}

        p.lead.text-light
            | #{err.message}
        a(href='/') â† Back
        br
    pre #{err.stack}