extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 My Portfolio

      p.lead.text-light
        | A collection of projects I built.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each proj in projects
        .cell
          a(href=`/project/${proj.id}`)
            img.thumbnail(src=`${proj.image_urls[0]}`)
            h5 #{proj.project_name}


      
